<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="">Pages</a>
    <a>Reports</a>
    <a>dd</a>
</nav>
<section>
    <table>
        {% for page in pages %}
        <tr>
            <td><a href="{% url 'page' page.id%}/">{{ page.url }}</a></td>
            <td>{{ page.description}}</td>
            <td>
                <form action="{% url 'pages-delete' page.id%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="page_id" value="{{page.id}}"/>
                    <input type="submit" value="delete item">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>


    <form action="pages" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">ADD</button>
    </form>
</section>

</body>
</html>